h1 {
    color: green;
    font-family: fantasy;
    height: 0px;
    width: 100%;
    padding: 20px;
    margin: 0px;
    border: 15 px solid #4a412a;
    -webkit-text-stroke-color: #fff8e7;
    -webkit-text-stroke-width: .5px;
    color: #0cf;
    background-color: #0000ff;
    word-spacing: 120px;
}
h3 {
    height: 100%;
    width: 100%;
    padding: 20px;
    margin: 20px;
    border: 15 px solid #4a412a;
    color: #fff8e7;
    background-color: rgb(132, 19, 105);
}
h2 {
    color: #000000;
    height: 100%;
    width: 100%;
    padding: 20px;
    margin: 0px;
    background-color: #90f;
}
.container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }